$text-color: #0f1d5b;
$white: #fff;
$orange: #ff9954;

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;

  .left{
      margin-right: 10px;
  }
  .right{
      margin-left: 10px;
  }
    input {
      padding: 8px 30px;
      border-radius: 50px;
      border:none;
      font-size: 16px;
      margin-bottom: 20px;
      width: 190px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 3px #00000029;
      
    }

}
