$text-color: #0f1d5b;
$white: #fff;
$orange: #ff9954;

.container {
  background: #f7f6f7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000026;
  border-radius: 10px;
  height: 650px;
  max-width: 1024px;
  width: 100%;
  margin:100px auto;

  .title {
    padding: 20px 55px;
    background: transparent linear-gradient(89deg, #f5f4f5 0%, #ebf3f9 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0f1d5b26;
    border-radius: 10px 10px 0px 0px;
    h3 {
      font-size: 35px;
      font-family: sofia-pro, sans-serif;
      color: $text-color;
    }
  }
  .inputWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .leftSide{
      margin-right: 50px;
    }
  }

}
.buttonWrapp {
  display: flex;
  justify-content: end;
  a {
    display: flex;
    align-items: center;
    background-color:$orange ;
  }
  a img{
    width: 25px;
    height: 16px;
    margin-left: 10px;
  }
}