$title-color: #0F1D5B;
$subtitle-color: #FF9954;

$mobile: 480px;
$ipad: 768px;
.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(88deg, #F5F4F5 0%, #EBF3F9 100%);
  padding: 64px 100px;

  h2 {
    font-size: 56px;
    font-family: sofia-pro, sans-serif;
    font-weight: 900;
    color: $title-color;
  }

  p {
    color: $subtitle-color;
    font-size: 24px;
    font-family: sofia-pro, sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }
}

@media (max-width: $ipad) {
 .container{
  padding: 30px;
   h2{
     font-size: 35px;
   }
 }
}

@media (max-width: $mobile) {
  .container {
    padding: 20px;
    h2 {
      font-size: 24px;

    }

    p {
      font-size: 18px;
    }
  }
}
