$text-color: #0F1D5B;
.container {
  padding: 30px 100px;
}

.selectSystem {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    padding: 20px;
  ul {
    display: flex;
    li {
      max-width: 380px;
      display: flex;
      margin-right: 100px;
      &:last-child {
        margin-right: 0;
      }
      span {
        display: block;
        color: $text-color;
      }
      .content__navigation__buttons{
        margin: 0;
        margin-right: 20px;
      }
    }
  }

  h2 {
    margin-bottom: 15px;
  }
}

.services{
    width: 2%;
    min-width: 300px;


    ul{
        width: 100%;
        li{
           display: flex;
           align-items: center;
           margin-top: 30px;
           padding:10px 25px;
           border-radius: 50px;
                //    background-color:#FDF8F2;
            img{
                width: 30px;
            }
            span{
                margin-left: 20px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
