$text-color: #0f1d5b;
$border-color: #9399b5;
$orange: #ff9954;

.registrWrap {
  .botton {
    margin-bottom: 25px;
    transition: 0.3s;
    svg {
      g {
        transition: 0.1s;
        color: $orange;
      }
    }

    &:hover {
      background: $orange;
      color: #ffffff;
      svg {
        g {
          fill: #ffffff;
        }
      }
    }
  }
  .nextButton {
    margin-top: 48px;
    margin-left: auto;
  }
}
.nextButton {
  margin-top: 48px;
  margin-left: auto;
}
.userNameWrapp {
  .inputWrapp {
    margin-top: 100px;
  }
}
.userPasswordWrapp {
  .questionWrapp {
    margin-top: 100px;
    padding: 20px 0;
    border-top: 1px solid #999999;
  }
}
.newUser{
  margin-bottom: 100px;
}
