$text-color: #0f1d5b;
$border-color: #9399b5;
$orange: #ff9954;

$mobile: 480px;
$ipade: 768px;

.registrWrap {

  .botton{
    margin-bottom: 25px;
    transition: .3s;
    svg{
      g{
        transition: .1s;
        color: $orange
      }
    }

    &:hover{
      background: $orange;
      color: #FFFFFF;
      svg{
        g{
          fill: #FFFFFF;
        }
      }
    }
  }
}

